.App {
  text-align: center;
}

.app__title {
  font-family: Cleanveb;
  font-size: 3rem;
}

.app__info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo_image {
  position: fixed;
  opacity: .2;
  height: 150px;
  bottom: 0;
  z-index: 1;
}

.logo_image img {
  height: 100%;
}

.background_left {
  left: 100px;
  transform: scaleX(-1)
}

.background_right {
  right: 100px;
}

@media screen and (max-width: 550px) {
  .app__info {
      width: 100%;
      flex-direction: column;
      align-items: center;
  }
  .logo_image {
    height: 100px;
  }
  .background_left {
    left: 30px;
  }
  
  .background_right {
    right: 30px;
  }
}